<nav class="navbar navbar-light bg-dark">
  <h4 ngClass="h4">Employee application</h4>
  <span class="float-end mx-5 badge bg-success">Emp Count: {{dataservice.data.length}}</span>
</nav>
<br/>
<button routerLink ="" class="btn btn-primary">Home</button> 
  &nbsp; | &nbsp;
<button routerLink ="/employee" class="btn btn-primary">Employee List</button> 
&nbsp; | &nbsp;
<button routerLink ="login" class="btn btn-primary">login</button> 
&nbsp; | &nbsp;
<button (click)="logout()" class="btn btn-primary">logout</button> 
<router-outlet></router-outlet>